<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Start Quiz</title>
    <style>
    a{
        width: 15%;
        height: 15%;
        margin: auto;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        background-color: aliceblue;
        position:absolute;
        }
    p{
        
       
      margin-bottom: 400px;
        
       
    }
        </style>
</head>
<body>
    <center><a href="/quiz/"><h1>Start Quiz</h1></a></center>
    <p><h2><center>Kindly Go Through The Below Instructions Before Starting The Quiz!</h2></center><br>
    <un><center>
    <li>Answer Once Submitted Cannot be Changed</li><br>
    <li>Refreshing While Giving Quiz May bring Wrong Results</li><br>
    <li>Skiping The Question is Not Availaible</li><br>
    <li>No Negative Marking Is There</li></center><p><br>
</body>
</html>